html {

  --main-color: rgb(164 114 222);
  --text-color-main: #ded6d6;
  --text-color-dark: #413d3d;

  * {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}


body {

  background-color: var(--main-color);
  color: var(--text-color-main);
}

.container {

  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  column-gap: 24px;
  padding: 36px;
}