.block-keycode {

  flex: 1 1;
}

.block-keycode__name {

  text-align: center;
  margin-bottom: 12px;
  font-weight: 600;
}

.block-keycode__inner {

  height: 60.5px;
  padding: 18px;
  border: 1px solid var(--keycode-text-color);
  border-radius: 4px;
}

.block-keycode__value {

  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}