.keycode {
  --keycode-text-color: #413d3d;
  --keycode-bg-color: #f1f1f1;

  font-family: Arial, Helvetica, sans-serif;
  padding: 48px 32px;
  border: 1px solid var(--keycode-text-color);
  border-radius: 4px;
  background-color: var(--keycode-bg-color);
  width: 640px;
  max-width: 100%;
}

.keycode__intro-msg {

  text-align: center;
  margin-bottom: 32px;
}

.keycode__container {

  display: flex;
  gap: 18px;
  justify-content: center;
}

.block-keycode {

  flex: 1 1;
}

.block-keycode__name {

  text-align: center;
  margin-bottom: 12px;
  font-weight: 600;
}

.block-keycode__inner {

  height: 60.5px;
  padding: 18px;
  border: 1px solid var(--keycode-text-color);
  border-radius: 4px;
}

.block-keycode__value {

  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}